# Ignore the virtual_env directory
virtual_env/*

# Other common ignores
*.pyc
__pycache__/
*.log
.env
.DS_Store

# Ignore project files except .cpp and .h
.vs/
clustering/*
!clustering/Database/
!clustering/*.cpp
!clustering/*.h

# Ignore huge features files
computed_data/*
!computed_data/_old/*