# Ignore the virtual_env directory
virtual_env/*

# Other common ignores
*.pyc
__pycache__/
*.log
.env
.DS_Store

# Ignore project files except .cpp and .h
clustering/*
!clustering/*.cpp
!clustering/*.h
